@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    padding: 60px 100px;
    
}
.logo a{
    font-size: 80px;
    font-family: 'Roboto', sans-serif;}
.logo span{
    color: #4acbff;
}
.top-menu a {
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    border: 1px solid white ;
    padding: 18px 34px;
    
}
.top-menu a:hover{
    background-color:#222F3A;

        

}
.top-menu {
    display: flex;
    justify-content: center;
    margin: 0px 100px;
    padding: 18px;
    height: 28px;
    background-color: #35444F;
}
.body {
    display: flex;
    justify-content: center;
    width: 1285px;
    margin: 50px 100px;
}
.left-menu {
    display: flex;  
    width: 340px;
    height: 400px;
    border: 1px solid;
    box-sizing: border-box;

}
  .left-menu li {
    display: flex;
    flex-direction: column;
    justify-content:center;   
    box-sizing: border-box;
    width: 338px;
    
  }
  .left-menu li:hover{
      background-color: #DBDBDB;
      padding-left: 38px;
      color: #35444F;
  }
    

.left-menu-item {
font-family: 'Roboto', sans-serif;
font-size: 27px;
font-weight: 400;
line-height: 27px;
text-decoration: none;
color: #485863;
margin: 26px 0 27px 44px;



}

.right-content{
    width: 880px;
    margin-left: 50px;
    border: 1px black;
   
}
.content-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 550px;
    border: 1px solid black;
}
.right-content-logo {
    position: absolute;
    
    
    
}
.right-content-text {
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
padding-top: 35px;

}
.footer-l{
    display: flex;
    justify-content: flex-start;
    width: 1285px;
    height: 70px;
    margin: 0px 100px;
    background-color: rgba(99, 105, 110, 0.48)
}
.footer-line a{
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-size: 28px;
line-height: 28px;
color: #0C1927;
}
.footer-line li{
    padding-left: 40px;
}
.footer-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    font-size: 24px;
line-height: 24px;
font-family: 'Roboto', sans-serif;

}
.footer-line a:hover{
    text-decoration: underline;
    color: #4e8eac;
}
