@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

a {
    text-decoration: none;  
    color:#FF0000;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.header {
        padding-left: 330px;
        padding-right: 330px;
        ;
        
}
.header-menu li{   
    display: inline-block;
    margin: 18px;
    text-transform: uppercase;
    font-size: 18px;
}
    .background {
        
        background:no-repeat url("../image\ 1.png") center/cover ;
        height: 789px;
        width: 1280px;
        left: 0px;
        top: 78px;
        border-radius: 0px;       
    }
    body{
        font-family: "Montserrat", sans-serif;
        text-align: center;
        color: #373737;
       
        
    }
    .title {
        font-size: 22px;
        padding: 49px;
        font-weight: bold;
        letter-spacing: 3.3px;
        text-transform: uppercase;        
    }
    .sub-title{
        font-size: 16px;
        padding-right: 67.5px;
        padding-left: 39.5px;
        margin: 28px;
        text-align: center;
        letter-spacing: 2.4px;
        
    }
    .btn {
        width: 191px;
        height: 51px;   
        background: #FF0000;
        border-radius: 4px;
        border-width: 0px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;   
        letter-spacing: 1.8px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 42px;
    }
footer{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    padding-left: 700px;
    padding-right: 105px;
    padding-top: 40px;
    margin-bottom: 29px;
}


    
    
    